# Binaries for programs and tests
*.exe
*.exe~
*.dll
*.so
*.dylib

# Executable files
*.out

# Intermediate files
*.lo
*.la
*.al
*.o
*.obj

# Debug files
*.gcno

# Cargo artifacts
/target/
**/target/
/Cargo.lock
/.cargo/

# Rust specific files
*.rs.bk

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak

# Editor and IDE specific files
.idea/
/.vscode/
/*.code-workspace

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific files
*~
.cache
.local
.Trash-*

# Node-specific files (if using npm or yarn for any dependencies)
node_modules/
/npm-debug.log
yarn-error.log

# Logs
*.log

# Backup files
*.bak
*.old
*.orig

# Coverage files
coverage/
*.lcov

# Binary files
*.bin

# Minimized files
*.min.js
*.min.css

# Compiled object files
*.pyc
*.pyo

# Lock files
*.lock

# Python virtual environments
.venv/
env/

# Other
*.out
*.class
*.psd
